Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Refactor comments and structure in default.yaml
  configs/trainer/default.yaml
Labels: none

Refine GPU trainer configuration and comments
  configs/trainer/gpu.yaml
Labels: none

Refactor comments in kaggle.yaml for clarity
  configs/trainer/kaggle.yaml
Labels: none

Refactor kaggle_safe.yaml for better structure
  configs/trainer/kaggle_safe.yaml
Labels: none

Enhance multi_gpu.yaml with detailed settings
  configs/trainer/multi_gpu.yaml
Labels: none

Revise Trainer Configurations README for clarity
  configs/trainer/README.md
Labels: type:docs

Revise trainer architecture documentation
  configs/trainer/ARCHITECTURE.md
Labels: type:docs

Create tensorboard.yaml for logging configuration
  configs/logger/tensorboar.yaml
Labels: none

Add W&B logger configuration for SpectraMind V50
  configs/logger/wandb.yaml
Labels: none

Add MLflow logger configuration
  configs/logger/mlflow.yaml
Labels: none

Add rich console logger configuration
  configs/logger/rich_console.yaml
Labels: none

Add README for logger profiles in SpectraMind V50
  configs/logger/README.md
Labels: type:docs

Add architecture documentation for logger config group
  configs/logger/ARCHITECTURE.md
Labels: type:docs

Refine wandb.yaml configuration and comments
  configs/logger/wandb.yaml
Labels: none

Refactor tensorboard configuration in YAML file
  configs/logger/tensorboar.yaml
Labels: none

Add many_loggers.yaml for multi-logger configuration
  configs/logger/many_loggers.yaml
Labels: none

Revise README for logger profiles in SpectraMind V50
  configs/logger/README.md
Labels: type:docs

Refine language in logger architecture documentation
  configs/logger/ARCHITECTURE.md
Labels: type:docs

Add local default environment configuration
  configs/local/default.yaml
Labels: none

Add README for local development profiles
  configs/local/README.md
Labels: type:docs

Create local debug configuration for SpectraMind V50
  configs/local/debug.yaml
Labels: none

Add HPC configuration for local multi-GPU setup
  configs/local/hpc.yaml
Labels: none

Add ARCHITECTURE.md for local configs
  configs/local/ARCHITECTURE.md
Labels: type:docs

Refactor multi_gpu.yaml for better configurability
  configs/trainer/multi_gpu.yaml
Labels: none

Add toy data config for fast debugging and testing
  configs/toy.yaml
Labels: none

Delete configs/val.yaml
  configs/val.yaml
Labels: none

Refactor toy.yaml for improved documentation
  configs/data/toy.yaml
Labels: none

Fix formatting and add newline at end of toy.yaml
  configs/data/toy.yaml
Labels: none

Upgrade nominal.yaml for SpectraMind V50
  configs/data/nominal.yaml
Labels: none

Upgrade toy dataset config for clarity and detail
  configs/data/toy.yaml
Labels: none

Add ariel_toy_dataset.py for synthetic dataset generation
  configs/data/ariel_toy_dataset.py
Labels: lang:python

Add .gitkeep to preserve configs/data directory
  configs/data/.gitkeep
Labels: none

Revise SpectraMind V50 calibration config
  configs/data/real.yaml
Labels: none

Revise nominal.yaml for SpectraMind V50 enhancements
  configs/data/nominal.yaml
Labels: none

Refactor Kaggle config for clarity and structure
  configs/data/kaggle.yaml
Labels: none

Clean up kaggle.yaml by removing code block markers
  configs/data/kaggle.yaml
Labels: none

Refactor comments and formatting in debug.yaml
  configs/data/debug.yaml
Labels: none

Refactor ariel_toy_dataset.py for better clarity
  configs/data/ariel_toy_dataset.py
Labels: lang:python

Revise README for dataset and calibration configurations
  configs/data/README.md
Labels: type:docs

Revise architecture document for clarity and detail
  configs/data/ARCHITECTURE.md
Labels: type:docs

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
