Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"

Enhance FFT power clustering diagnostic test
  tests/diagnostics/test_plot_fft_power_cluster_compare.py
Labels: lang:python, type:test

Refactor FFT power clustering diagnostic test
  tests/diagnostics/test_plot_fft_power_cluster_compare.py
Labels: lang:python, type:test

Refactor and enhance t-SNE interactive tests
  tests/diagnostics/test_plot_tsne_interactive.py
Labels: lang:python, type:test

Enhance UMAP fusion-latent diagnostic tests
  tests/diagnostics/test_plot_umap_fusion_latents_v50.py
Labels: lang:python, type:test

Refactor UMAP diagnostic tests for SpectraMind V50
  tests/diagnostics/test_plot_umap_fusion_latents_v50.py
Labels: lang:python, type:test

Upgrade UMAP plot tests with synthetic data and edge cases
  tests/diagnostics/test_plot_umap_v50.py
Labels: lang:python, type:test

Refactor SHAP × Attention overlay diagnostics tests
  tests/diagnostics/test_shap_attention_overlay.py
Labels: lang:python, type:test

Improve structure and clarity of SHAP overlay tests
  tests/diagnostics/test_shap_overlay.py
Labels: lang:python, type:test

Refactor SHAP overlay diagnostics tests
  tests/diagnostics/test_shap_overlay.py
Labels: lang:python, type:test

Upgrade diagnostics tests for SHAP × Symbolic overlay
  tests/diagnostics/test_shap_symbolic_overlay.py
Labels: lang:python, type:test

Refactor and enhance tests for lightcurve simulation
  tests/diagnostics/test_simulate_lightcurve_from_mu.py
Labels: lang:python, type:test

Refactor spectral SHAP gradient diagnostic tests
  tests/diagnostics/test_spectral_shap_gradient.py
Labels: lang:python, type:test

Revise tests for spectral smoothness map diagnostics
  tests/diagnostics/test_spectral_smoothness_map.py
Labels: lang:python, type:test

Add diagnostic test for spectral absorption overlay
  tests/diagnostics/test_spectral_absorption_overlay_clustered.py
Labels: lang:python, type:test

Update test_spectral_absorption_overlay_clustered.py
  tests/diagnostics/test_spectral_absorption_overlay_clustered.py
Labels: lang:python, type:test

Update test_symbolic_influence_map.py
  tests/diagnostics/test_symbolic_influence_map.py
Labels: lang:python, type:test

Create test_symbolic_logic_engine.py
  tests/diagnostics/test_symbolic_logic_engine.py
Labels: lang:python, type:test

Create test_symbolic_rule_table.py
  tests/diagnostics/test_symbolic_rule_table.py
Labels: lang:python, type:test

Update test_symbolic_violation_overlay.py
  tests/diagnostics/test_symbolic_violation_overlay.py
Labels: lang:python, type:test

Update test_symbolic_violation_predictor.py
  tests/diagnostics/test_symbolic_violation_predictor.py
Labels: lang:python, type:test

Update test_validate_submission.py
  tests/diagnostics/test_validate_submission.py
Labels: lang:python, type:test

Update test_generate_fft_symbolic_fusion.py
  tests/diagnostics/test_generate_fft_symbolic_fusion.py
Labels: lang:python, type:test

Update test_plot_tsne_interactive.py
  tests/diagnostics/test_plot_tsne_interactive.py
Labels: lang:python, type:test

Create README.md
  assets/gui/README.md
Labels: type:docs

Update README.md
  assets/gui/README.md
Labels: type:docs

Update README.md
  assets/gui/README.md
Labels: type:docs

Create ARCHITECTURE.md
  assets/gui/ARCHITECTURE.md
Labels: type:docs

Update widget_styles.css
  assets/gui/widget_styles.css
Labels: none

Update color_palette.json
  assets/gui/color_palette.json
Labels: none

Create assets-manifest.json
  assets/assets-manifest.json
Labels: none

Create validate_assets_manifest.py
  tools/validate_assets_manifest.py
Labels: lang:python

Update assets-manifest.json
  assets/assets-manifest.json
Labels: none

Create GUI_GUIDE.md
  assets/gui/GUI_GUIDE.md
Labels: type:docs

Create STYLES_GUIDE.md
  assets/gui/STYLES_GUIDE.md
Labels: type:docs

Update KAGGLE_GUIDE.md
  assets/KAGGLE_GUIDE.md
Labels: type:docs

Update COMPARISON_GUIDE.md
  assets/COMPARISON_GUIDE.md
Labels: type:docs

Create COMPARISON_MATRIX.csv
  assets/COMPARISON_MATRIX.csv
Labels: none

Create logos-manifest.json
  assets/logos/logos-manifest.json
Labels: none

Update assets-manifest.json
  assets/assets-manifest.json
Labels: none

Update assets-manifest.json
  assets/assets-manifest.json
Labels: none
