Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Add files via upload
  notebooks/14_radiation_and_noise_modeling.ipynb
Labels: none

Delete notebooks/15_gravitational_lensing_demo.ipynb
  notebooks/15_gravitational_lensing_demo.ipynb
Labels: none

Add files via upload
  notebooks/15_gravitational_lensing_demo.ipynb
Labels: none

Add files via upload
  notebooks/SpectraMind_V50_Master_Walkthrough_v3.ipynb
Labels: none

Delete tests/diagnostics/test_analyze_fft_autocorr_mu.py
  tests/diagnostics/test_analyze_fft_autocorr_mu.py
Labels: lang:python, type:test

Update print statement from 'Hello' to 'Goodbye'
  src/diagnostics/analyze/fft/autocorr/mu.py
Labels: lang:python

Delete src/diagnostics/analyze_fft_autocorr_mu.py
  src/diagnostics/analyze_fft_autocorr_mu.py
Labels: lang:python

chore(repo): reorganize env configs and CLI entry
  configs/env/CONDA_ENV.yaml
  configs/env/requirements-dev.txt
  configs/env/requirements-extras.txt
  configs/env/requirements-kaggle.txt
  configs/env/requirements-min.txt
  configs/env/requirements.txt
  configs/params.yaml
  docs/best_version.md
  src/spectramind/__init__.py
  src/spectramind/__main__.py
Labels: lang:python, type:docs

Delete notebooks/01_pipeline_calibrate_train_predict.ipynb
  notebooks/01_pipeline_calibrate_train_predict.ipynb
Labels: none

Delete notebooks/00_quickstart.ipynb
  notebooks/00_quickstart.ipynb
Labels: none

Delete notebooks/02_diagnostics_explainability.ipynb
  notebooks/02_diagnostics_explainability.ipynb
Labels: none

Delete notebooks/03_ablation_and_tuning.ipynb
  notebooks/03_ablation_and_tuning.ipynb
Labels: none

Delete notebooks/04_leaderboard_and_submission_fixed.ipynb
  notebooks/04_leaderboard_and_submission_fixed.ipynb
Labels: none

Delete notebooks/05_uncertainty_calibration_and_cycle_consistency.ipynb
  notebooks/05_uncertainty_calibration_and_cycle_consistency.ipynb
Labels: none

Delete notebooks directory
  notebooks/.gitkeep
  notebooks/06_physics_informed_modeling_and_symbolic_constraints.ipynb
  notebooks/07_huggingface_integration_and_transfer_learning.ipynb
  notebooks/08_ensembles_mc_dropout_and_corel_conformal.ipynb
  notebooks/09_experiment_tracking_dvc_ci.ipynb
  notebooks/10_full_pipeline_reproducibility_and_ci.ipynb
  notebooks/11_kaggle_submission_and_leaderboard_playbook.ipynb
  notebooks/12_post_submission_analysis_and_leaderboard_tracking.ipynb
  notebooks/13_gui_dashboard_demo.ipynb
  notebooks/14_radiation_and_noise_modeling.ipynb
  notebooks/15_gravitational_lensing_demo.ipynb
  notebooks/ARCHITECTURE.md
  notebooks/README.md
  notebooks/SpectraMind_V50_Master_Walkthrough_v3.ipynb
  notebooks/bootstrap_notebooks.sh
Labels: type:docs

Create tests for analyze_fft_autocorr_mu.py
  tests/diagnostics/test_analyze_fft_autocorr_mu.py
Labels: lang:python, type:test

Implement diagnostics tests for GLL heatmap module
  tests/diagnostics/test_plot_gll_heatmap_per_bin.py
Labels: lang:python, type:test

Implement diagnostics tests for SVP-NN module
  tests/diagnostics/test_symbolic_violation_predictor_nn.py
Labels: lang:python, type:test

Implement diagnostics tests for symbolic fusion predictor
  tests/diagnostics/test_symbolic_fusion_predictor.py
Labels: lang:python, type:test

Revise pyproject.toml for version and metadata updates
  pyproject.toml
Labels: deps

Refactor pyproject.toml for ruff configuration
  pyproject.toml
Labels: deps

Refactor pyproject.toml for consistent formatting
  pyproject.toml
Labels: deps

Update package version to 2.1.0 and scripts
  package.json
Labels: deps

Bump version to 2.1.1 and update scripts
  package.json
Labels: deps

Update makefile.ci
  makefile.ci
Labels: none

Update dvc.yaml
  dvc.yaml
Labels: none

Update dvc.lock
  dvc.lock
Labels: none

Update docker-compose.yaml
  docker-compose.yaml
Labels: none

Update SECURITY.md
  SECURITY.md
Labels: type:docs

Update README.md
  README.md
Labels: type:docs

Update Makefile
  Makefile
Labels: ci

Update Dockerfile.prod
  Dockerfile.prod
Labels: none

Update Dockerfile
  Dockerfile
Labels: ci

Revise ARCHITECTURE.md for SpectraMind V50
  ARCHITECTURE.md
Labels: type:docs

Revise .zenodo.json metadata for SpectraMind V50
  .zenodo.json
Labels: none

Update .zenodo.json
  .zenodo.json
Labels: none

Update SVGO configuration with new plugins
  .svgo.json
Labels: none

Add SVG optimization workflow in GitHub Actions
  .github/workflows/svg-optimize.yml
Labels: ci

Enhance CI with changes detection and SVG optimization
  .github/workflows/ci.yml
Labels: ci

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
