Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"

Enhance ablation.yaml with comprehensive training config
  configs/train/ablation.yaml
Labels: none

Update ablation.yaml with new parameters and settings
  configs/train/ablation.yaml
Labels: none

Add README for training configurations in SpectraMind
  configs/train/README.md
Labels: type:docs

Add ARCHITECTURE.md for training and ablation configs
  configs/train/ARCHITECTURE.md
Labels: type:docs

Add README for diagrams directory
  diagrams/README.md
Labels: type:docs

Add pipeline overview documentation for SpectraMind V50
  diagrams/pipeline_overview.md
Labels: type:docs

Delete diagrams/pipeline.mmd
  diagrams/pipeline.mmd
Labels: none

Add training and ablation execution architecture diagram
  diagrams/train_ablation.md
Labels: type:docs

Add CI/CD pipeline diagram in markdown
  diagrams/ci_pipeline.md
Labels: type:docs

Rename cli-flow.mmd to cli-flow.md
  diagrams/cli-flow.md
Labels: type:docs

Rename main.mmd to main.md
  diagrams/main.md
Labels: type:docs

Add symbolic constraint engine documentation
  diagrams/symbolic_engine.md
Labels: type:docs

Create calibration_chain.md with calibration diagram
  diagrams/calibration_chain.md
Labels: type:docs

Create ARCHITECTURE.md for SpectraMind V50
  diagrams/ARCHITECTURE.md
Labels: type:docs

Revise GUI programming guide for SpectraMind V50
  docs/gui/gui_programming.md
Labels: type:docs

Add README for SpectraMind V50 GUI layer
  docs/gui/README.md
Labels: type:docs

Add architecture documentation for SpectraMind V50 GUI
  docs/gui/ARCHITECTURE.md
Labels: type:docs

Revise and enhance SpectraMind V50 guide
  docs/gui/guide.md
Labels: type:docs

Implement Streamlit dashboard for SpectraMind V50
  docs/gui/streamlit_app.py
Labels: lang:python, type:docs

Add GUI Design Patterns documentation for SpectraMind V50
  docs/gui/design_patterns.md
Labels: type:docs

Add GUI Frameworks documentation for SpectraMind V50
  docs/gui/frameworks.md
Labels: type:docs

Add GUI Integration documentation for SpectraMind V50
  docs/gui/integration.md
Labels: type:docs

Revise GUI Integration documentation for SpectraMind V50
  docs/gui/integration.md
Labels: type:docs

Add GUI integration examples for SpectraMind V50
  docs/gui/integration_examples.md
Labels: type:docs

Add Streamlit demo for SpectraMind V50 CLI
  docs/gui/demo_suite/streamlit_demo.py
Labels: lang:python, type:docs

Add FastAPI backend for SpectraMind V50
  docs/gui/demo_suite/fastapi_backend.py
Labels: lang:python, type:docs

Add README for React Stub integration with FastAPI
  docs/gui/demo_suite/react_stub/README.md
Labels: type:docs

Add PyQt diagnostic demo application
  docs/gui/demo_suite/qt_diag_demo.py
Labels: lang:python, type:docs

Add GUI demo suite targets to Makefile
  Makefile
Labels: ci

Add UX & Accessibility guidelines for SpectraMind V50
  docs/gui/ux_accessibility.md
Labels: type:docs

Add PySide demo for SpectraMind V50 CLI
  docs/gui/examples/qt_pyside_demo.py
Labels: lang:python, type:docs

Add GUI roadmap for SpectraMind V50
  docs/gui/roadmap.md
Labels: type:docs

Revise GUI architecture documentation for clarity
  docs/gui/ARCHITECTURE.md
Labels: type:docs

Fix formatting and clarity in GUI README
  docs/gui/README.md
Labels: type:docs

Upgrade SpectraMind V50 Streamlit Dashboard
  docs/gui/streamlit_app.py
Labels: lang:python, type:docs

Upgrade GUI programming guide for SpectraMind V50
  docs/gui/gui_programming.md
Labels: type:docs

Revise GUI frameworks documentation for SpectraMind V50
  docs/gui/frameworks.md
Labels: type:docs

Revise UX & Accessibility documentation for V50
  docs/gui/ux_accessibility.md
Labels: type:docs

Update integration_examples.md
  docs/gui/integration_examples.md
Labels: type:docs

Upgrade GUI Integration Examples for SpectraMind V50
  docs/gui/integration.md
Labels: type:docs
