Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"

Update print statement from 'Hello' to 'Goodbye'
  tools/symbolic_influence_map.py
Labels: lang:python

Update print statement from 'Hello' to 'Goodbye'
  tools/symbolic_rule_table.py
Labels: lang:python

Change greeting from 'Hello World' to 'Goodbye World'
  tools/spectral_absorption_overlay_clustered.py
Labels: lang:python

Update print statement from 'Hello' to 'Goodbye'
  tools/shap_overlay.py
Labels: lang:python

Update print statement from 'Hello' to 'Goodbye'
  tools/shap_attention_overlay.py
Labels: lang:python

Update print statement from 'Hello' to 'Goodbye'
  tools/shap_symbolic_overlay.py
Labels: lang:python

Update print statement from 'Hello' to 'Goodbye'
  tools/neural_logic_graph.py
Labels: lang:python

Replace 'Hello World' with 'Goodbye World'
  tools/generate_dummy_data.py
Labels: lang:python

Update print statement from 'Hello' to 'Goodbye'
  tools/fft_power_compare.py
Labels: lang:python

Refactor CLI to use Typer for UMAP plotting
  tools/plot_umap_fusion_latents_v50.py
Labels: lang:python

Update fmt.Println message from 'Hello' to 'Goodbye'
  tools/generate_fft_symbolic_fusion.py
Labels: lang:python

Delete tools/explain_shap_metadata_v50.py
  tools/explain_shap_metadata_v50.py
Labels: lang:python

Delete tools/explain_sharp_metadata_v50.py
  tools/explain_sharp_metadata_v50.py
Labels: lang:python

Add explain_shap_metadata_v50.py for SHAP analysis
  tools/explain_shap_metadata_v50.py
Labels: lang:python

Revise tools directory README for clarity and updates
  tools/README.md
Labels: type:docs

Revise architecture document for ArielSensorArray
  tools/ARCHITECTURE.md
Labels: type:docs

Refactor and enhance test submission validator
  tests/artifacts/test_submission_validator.py
Labels: lang:python, type:test

Enhance artifact manifest validation tests
  tests/artifacts/test_manifest_hashes.py
Labels: lang:python, type:test

Enhance log integrity tests with stricter validation
  tests/artifacts/test_log_integrity.py
Labels: lang:python, type:test

Refactor dummy data generator test suite
  tests/artifacts/test_dummy_data_generator.py
Labels: lang:python, type:test

Enhance test structure for CLI version stamping
  tests/artifacts/test_cli_version_stamp.py
Labels: lang:python, type:test

Refactor log integrity test file and improve validations
  tests/artifacts/test_log_integrity.py
Labels: lang:python, type:test

Refactor test_report_manifest_integrity.py for clarity
  tests/artifacts/test_report_manifest_integrity.py
Labels: lang:python, type:test

Refactor test_run_hash_summary_contents.py
  tests/artifacts/ttest_run_hash_summary_contents.py
Labels: lang:python, type:test

Add README for tests/artifacts directory
  tests/artifacts/README.md
Labels: type:docs, type:test

Create ARCHITECTURE.md for diagnostics tests
  tests/artifacts/ARCHITECTURE.md
Labels: type:docs, type:test

Clean up ARCHITECTURE.md in tests directory
  tests/ARCHITECTURE.md
Labels: type:docs, type:test

Revise README for artifacts validation suite
  tests/artifacts/README.md
Labels: type:docs, type:test

Revise architecture documentation for clarity
  tests/artifacts/ARCHITECTURE.md
Labels: type:docs, type:test

Add diagnostics test for auto_ablate_v50 tool
  tests/diagnostics/test_auto_ablate_v50.py
Labels: lang:python, type:test

Add test suite for calibration checker tool
  tests/diagnostics/test_calibration_checker.py
Labels: lang:python, type:test

Enhance tests for Config Grid Launcher
  tests/diagnostics/test_config_grid_launcher.py
Labels: lang:python, type:test

Add diagnostics test for SHAP metadata explainer
  tests/diagnostics/test_explain_shap_metadata_v50.py
Labels: lang:python, type:test

Refactor FFT power comparison diagnostics tests
  tests/diagnostics/test_fft_power_compare.py
Labels: lang:python, type:test

Update print statement to say 'Goodbye World'
  tests/diagnostics/test_generate_diagnostic_summary.py
Labels: lang:python, type:test

Refactor and enhance FFT symbolic fusion tests
  tests/diagnostics/test_generate_fft_symbolic_fusion.py
Labels: lang:python, type:test

Create SECURITY.md for security policy
  SECURITY.md
Labels: type:docs

Potential fix for code scanning alert no. 1: Incomplete string escaping or encoding
  outputs/ablate/leaderboard.html
Labels: none

Update fmt.Println message from 'Hello' to 'Goodbye'
  tests/diagnostics/test_generate_html_report.py
Labels: lang:python, type:test

Add tests for GLL error localization tool
  tests/diagnostics/test_gll_error_localizer.py
Labels: lang:python, type:test
