Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"

Refactor Makefile for improved readability and structure
  Makefile
Labels: ci

Update print statement from 'Hello' to 'Goodbye'
  CITATION.ris
Labels: none

Refactor CITATION.cff for formatting consistency
  CITATION.cff
Labels: none

Fix formatting and update quotes in CITATION.cff
  CITATION.cff
Labels: none

Update .mermaidrc.json for styling adjustments
  .mermaidrc.json
Labels: none

Update .mermaidrc-dark.json configuration
  .mermaidrc-dark.json
Labels: none

Update .gitignore
  .gitignore
Labels: none

Update .dvcignore
  .dvcignore
Labels: none

Update .dockerignore
  .dockerignore
Labels: none

Update .gitattributes
  .gitattributes
Labels: none

Update .env.schema.json
  .env.schema.json
Labels: none

Update .env.schema.json
  .env.schema.json
Labels: none

Update .env.schema.json
  .env.schema.json
Labels: none

Update .env.schema.json
  .env.schema.json
Labels: none

Update .env.schema.json
  .env.schema.json
Labels: none

Update .env.schema.json
  .env.schema.json
Labels: none

Update .env.example
  .env.example
Labels: none

Update .editorconfig.test.yml
  .editorconfig.test.yml
Labels: none

Update .editorconfig
  .editorconfig
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: deps

Update plots.yaml
  .dvc/plots.yaml
Labels: none

Update params.yaml
  .dvc/params.yaml
Labels: none

Update dvc.yaml
  .dvc/dvc.yaml
Labels: none

Update config.local
  .dvc/config.local
Labels: none

Update config
  .dvc/config
Labels: none

Update README.md
  .dvc/README.md
Labels: type:docs

Update .dvcignore
  .dvc/.dvcignore
Labels: none

Update .gitattributes
  .dvc/.gitattributes
Labels: none

Update .gitattributes
  .dvc/.gitattributes
Labels: none

Update ARCHITECTURE.md
  .dvc/ARCHITECTURE.md
Labels: type:docs

Add loss.json for training and validation loss plots
  .dvc/plots/loss.json
Labels: none

Add calibration plot configuration in JSON format
  .dvc/plots/calibration.json
Labels: none

Add FFT Power Spectrum plot configuration
  .dvc/plots/fft.json
Labels: none

Add autocorrelation diagnostics JSON schema
  .dvc/plots/autocorr.json
Labels: none

Add metrics.json for training metrics visualization
  .dvc/plots/metrics.json
Labels: none

Create dashboard.json
  .dvc/plots/dashboard.json
Labels: none

Update print statement to farewell message
  Makefile
Labels: ci

Update print statement from 'Hello' to 'Goodbye'
  .github/workflows/ARCHITECTURE.md
Labels: ci, type:docs

Enhance README with detailed workflow descriptions
  .github/workflows/README.md
Labels: ci, type:docs
