Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"

Refine GUI design patterns documentation
  docs/gui/design_patterns.md
Labels: type:docs

Add GUI Design Patterns documentation for SpectraMind V50
  docs/gui/patterns.md
Labels: type:docs

Upgrade FastAPI backend and enhance API functionality
  docs/gui/demo_suite/fastapi_backend.py
Labels: lang:python, type:docs

Refactor and enhance Qt Diagnose Demo
  docs/gui/demo_suite/qt_diag_demo.py
Labels: lang:python, type:docs

Upgrade Streamlit demo with new features and layout
  docs/gui/demo_suite/streamlit_demo.py
Labels: lang:python, type:docs

Enhance README with API and React flow details
  docs/gui/demo_suite/react_stub/README.md
Labels: type:docs

Add React component for SpectraMind dashboard
  src/App.tsx
Labels: lang:js

Initialize SpectraMind GUI app entry point
  src/gui/app/index.tsx
Labels: lang:js

Add global app layout with sidebar and topbar
  src/gui/app/layout.tsx
Labels: lang:js

Implement DashboardPage component for diagnostics overview
  src/gui/app/dashboard.tsx
Labels: lang:js

Implement FastAPI Diagnostics API for SpectraMind V50
  src/server/api/diagnostics.py
Labels: lang:python

Add cli_bridge.py for secure CLI command execution
  src/server/cli_bridge.py
Labels: lang:python

Add artifacts locator and metadata utilities
  src/server/artifacts.py
Labels: lang:python

Add configurable authorization layer for FastAPI
  src/server/authz.py
Labels: lang:python

Implement FastAPI server entrypoint in main.py
  src/server/main.py
Labels: lang:python

Create README.md for SpectraMind V50 project
  src/server/README.md
Labels: type:docs

Add script to auto-generate versioned README.md
  src/server/generate_readme.py
Labels: lang:python

Add server architecture documentation for SpectraMind V50
  src/server/ARCHITECTURE.md
Labels: type:docs

Enhance artifacts.py documentation and features
  src/server/artifacts.py
Labels: lang:python

Refactor cli_bridge.py comments and parameters
  src/server/cli_bridge.py
Labels: lang:python

Change greeting from 'Hello' to 'Goodbye'
  src/server/authz.py
Labels: lang:python

Improve server entrypoint with middleware and docs
  src/server/main.py
Labels: lang:python

Refactor diagnostics API and enhance functionality
  src/server/api/diagnostics.py
Labels: lang:python

Create README.md
  src/server/api/README.md
Labels: type:docs

Add FastAPI AuthZ API layer in authz.py
  src/server/api/authz.py
Labels: lang:python

Implement FastAPI module for SpectraMind API
  src/server/api/main.py
Labels: lang:python

Add diagnostics dashboard component
  src/gui/app/diagnostics.tsx
Labels: lang:js

Add reports browser component for CLI-generated reports
  src/gui/app/reports.tsx
Labels: lang:js

Create README.md for GUI app layer documentation
  src/gui/app/README.md
Labels: type:docs

Add architecture documentation for SpectraMind V50 GUI
  src/gui/app/ARCHITECTUREmd
Labels: none

Add Card component for SpectraMind V50
  src/gui/components/Card.tsx
Labels: lang:js

Add tests for Card component functionality
  src/gui/components/card.test.tsx
Labels: lang:js

Add reusable Chart component with multiple features
  src/gui/components/Chart.tsx
Labels: lang:js

Add tests for Chart component functionality
  src/gui/components/Chart.test.tsx
Labels: lang:js

Add reusable data table component
  src/gui/components/Table.tsx
Labels: lang:js

Add tests for Table component functionality
  src/gui/components/Table.test.tsx
Labels: lang:js

Add reusable collapsible Panel component
  src/gui/components/Panel.tsx
Labels: lang:js

Add tests for Panel component functionality
  src/gui/components/Panel.test.tsx
Labels: lang:js

Add reusable Button component with variants and sizes
  src/gui/components/Button.tsx
Labels: lang:js

Add tests for Button component functionality
  src/gui/components/Button.test.tsx
Labels: lang:js
