Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Update CITATION.cff
  CITATION.cff
Labels: none

Create .zenodo.json
  .zenodo.json
Labels: none

Update CONDA_ENV.yaml
  CONDA_ENV.yaml
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: type:docs

Update Dockerfile
  Dockerfile
Labels: ci

Update LICENSE
  LICENSE
Labels: none

Update docker-compose.yaml
  docker-compose.yaml
Labels: none

Update dvc.yaml
  dvc.yaml
Labels: none

Create dvc.lock
  dvc.lock
Labels: none

Update docker-compose.yaml
  docker-compose.yaml
Labels: none

Update package.json
  package.json
Labels: deps

Update pyproject.toml
  pyproject.toml
Labels: deps

Update spectramind.py
  spectramind.py
Labels: lang:python

Create Kaggle_Model_Comparison.md
  docs/Kaggle_Model_Comparison.md
Labels: type:docs

Update Kaggle_Model_Comparison.md
  docs/Kaggle_Model_Comparison.md
Labels: type:docs

Update requirements.txt
  requirements.txt
Labels: deps

Update requirements-min.txt
  requirements-min.txt
Labels: deps

Update requirements-kaggle.txt
  requirements-kaggle.txt
Labels: deps

Update requirements-extras.txt
  requirements-extras.txt
Labels: deps

Update requirements-dev.txt
  requirements-dev.txt
Labels: deps

Update README.md
  README.md
Labels: type:docs

Create pipeline_diagram.mmd
  docs/pipeline_diagram.mmd
Labels: type:docs

Update export_mermaid.py
  scripts/export_mermaid.py
Labels: lang:python

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: type:docs

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Create CITATION.ris
  CITATION.ris
Labels: none

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: type:docs

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: type:docs

Update PROJECT_ANALYSIS.md
  PROJECT_ANALYSIS.md
Labels: type:docs

Update index.html
  index.html
Labels: none

Create CONTRIBUTING.md
  assets/CONTRIBUTING.md
Labels: type:docs

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type:docs

Update config
  .dvc/config
Labels: none

Update config.local
  .dvc/config.local
Labels: none

Update params.yaml
  .dvc/params.yaml
Labels: none

Update plots.yaml
  .dvc/plots.yaml
Labels: none

Update dvc.yaml
  dvc.yaml
Labels: none

Update .dvcignore
  .dvcignore
Labels: none

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
