Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Refine Adam optimizer configuration and documentation
  configs/optimizer/adam.yaml
Labels: none

Add Lookahead options to AdamW optimizer config
  configs/optimizer/adamw.yaml
Labels: none

Add Lookahead support to SGD optimizer config
  configs/optimizer/sgd.yaml
Labels: none

Add README for optimizer configurations
  configs/optimizer/README.md
Labels: type:docs

Add architecture documentation for optimizer configs
  configs/optimizer/ARCHITECTURE.md
Labels: type:docs

Add Lookahead meta-optimizer configuration
  configs/optimizer/lookahead.yaml
Labels: none

Enhance comments in adam.yaml for better clarity
  configs/optimizer/adam.yaml
Labels: none

Refactor adamw.yaml for clarity and new features
  configs/optimizer/adamw.yaml
Labels: none

Update comments in sgd.yaml for clarity
  configs/optimizer/sgd.yaml
Labels: none

Revise README.md for optimizer configurations
  configs/optimizer/README.md
Labels: type:docs

Refine optimizer architecture documentation
  configs/optimizer/ARCHITECTURE.md
Labels: type:docs

Add Gaussian Log-Likelihood (GLL) Loss configuration
  configs/loss/gll.yaml
Labels: none

Add smoothness loss configuration file
  configs/loss/smoothness.yaml
Labels: none

Add non-negativity loss configuration file
  configs/loss/nonnegativity.yaml
Labels: none

Add unit tests for Gaussian Log-Likelihood loss
  configs/loss/test_gll_loss.py
Labels: lang:python

Add FFT Smoothness Loss configuration
  configs/loss/fft.yaml
Labels: none

Add composite loss configuration file
  configs/loss/composite.yaml
Labels: none

Add symbolic loss configuration file
  configs/loss/symbolic.yaml
Labels: none

Add README for loss configurations in SpectraMind V50
  configs/loss/README.md
Labels: type:docs

Add architecture overview for loss configuration
  configs/loss/ARCHITECTURE.md
Labels: type:docs

Upgrade unit tests for GLL loss functionality
  configs/loss/test_gll_loss.py
Labels: lang:python

Upgrade symbolic loss configuration details
  configs/loss/symbolic.yaml
Labels: none

Enhance smoothness loss configuration details
  configs/loss/smoothness.yaml
Labels: none

Enhance non-negativity loss configuration details
  configs/loss/nonnegativity.yaml
Labels: none

Enhance GLL Loss configuration and documentation
  configs/loss/gll.yaml
Labels: none

Upgrade FFT Smoothness Loss settings and documentation
  configs/loss/fft.yaml
Labels: none

Enhance composite loss config with symbolic support
  configs/loss/composite.yaml
Labels: none

Revise README for loss configurations clarity
  configs/loss/README.md
Labels: type:docs

Revise ARCHITECTURE.md for clarity and detail
  configs/loss/ARCHITECTURE.md
Labels: type:docs

Add central Hydra config for PyTorch Lightning training
  configs/trainer/default.yaml
Labels: none

Add multi-GPU trainer configuration
  configs/trainer/gpu.yaml
Labels: none

Add Kaggle trainer configuration
  configs/trainer/kaggle.yaml
Labels: none

Add Kaggle-safe trainer configuration
  configs/trainer/kaggle_safe.yaml
Labels: none

Add CI-fast trainer configuration for SpectraMind V50
  configs/trainer/ci_fast.yaml
Labels: none

Add README for Trainer Configurations
  configs/trainer/README.md
Labels: type:docs

Create multi_gpu.yaml for multi-GPU training
  configs/trainer/multi_gpu.yaml
Labels: none

Create ddp.yaml for multi-node training setup
  configs/trainer/ddp.yaml
Labels: none

Create ARCHITECTURE.md
  configs/trainer/ARCHITECTURE.md
Labels: type:docs

Refactor CI configuration for trainer
  configs/trainer/ci_fast.yaml
Labels: none

Update DDP configuration in ddp.yaml
  configs/trainer/ddp.yaml
Labels: none

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
