Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Add project analysis documentation for SpectraMind V50
  docs/analysis/PROJECT_ANALYSIS.md
Labels: type:docs

Delete PROJECT_ANALYSIS.md
  PROJECT_ANALYSIS.md
Labels: type:docs

Revise CITATION.cff for improved metadata clarity
  CITATION.cff
Labels: none

Add CITATION.bib for SpectraMind V50
  docs/CITATION.bib
Labels: type:docs

Create citation examples for SpectraMind V50
  docs/cite-examples.md
Labels: type:docs

Refactor CITATION.cff by removing comments and improving abstract
  CITATION.cff
Labels: none

Refactor comments in requirements.txt
  requirements.txt
Labels: deps

Refine comments in requirements-min.txt
  requirements-min.txt
Labels: deps

Refactor comments in requirements-kaggle.txt
  requirements-kaggle.txt
Labels: deps

Refactor requirements-extras.txt for cleaner structure
  requirements-extras.txt
Labels: deps

Update requirements-dev.txt for consistency
  requirements-dev.txt
Labels: deps

Refactor pyproject.toml for metadata and dependencies
  pyproject.toml
Labels: deps

Refactor params.yaml for SpectraMind V50
  params.yaml
Labels: none

Refactor dvc.yaml to use parameters for paths
  dvc.yaml
Labels: none

Update .zenodo.json for version 0.3.0
  .zenodo.json
Labels: none

Update .secrets.baseline to version 1.6.0
  .secrets.baseline
Labels: none

Update pre-commit configuration and dependencies
  .pre-commit-config.yaml
Labels: none

Bump version to 2.0.1 and update scripts
  package.json
Labels: deps

Add script to render and optimize .mmd diagrams
  scripts/render_one.js
Labels: lang:js

Add SVGO configuration file for SVG optimization
  .svgo.json
Labels: none

Refine comments in .gitignore for DVC and LFS
  .gitignore
Labels: none

Add workflow to render and commit Mermaid diagrams
  .github/workflows/diagrams.yml
Labels: ci

Revise MIT License with upgraded formatting
  LICENSE
Labels: none

Refactor Dockerfile for CPU/GPU support and optimizations
  Dockerfile.prod
Labels: none

Enhance Dockerfile with multi-stage build and updates
  Dockerfile
Labels: ci

Revise CONTRIBUTING.md for improved clarity
  CONTRIBUTING.md
Labels: type:docs

Add contributing guide with visual workflow
  docs/CONTRIBUTING.md
Labels: type:docs

Revise contributing guide with detailed setup and workflow
  docs/CONTRIBUTING.md
Labels: type:docs

Fix formatting in CLI integration flowchart
  docs/CONTRIBUTING.md
Labels: type:docs

Revise comments in CONDA_ENV.yaml
  CONDA_ENV.yaml
Labels: none

Revise CITATION.ris with updated abstract and keywords
  CITATION.ris
Labels: none

Revise CITATION.bib for clarity and completeness
  docs/CITATION.bib
Labels: type:docs

Update .mermaidrc.json configuration
  .mermaidrc.json
Labels: none

Document inline init directive for Mermaid
  docs/mermaid.md
Labels: type:docs

Fix formatting issues in makefile.ci comments
  makefile.ci
Labels: none

Add environment variables for deterministic CPU math
  .github/workflows/ci.yaml
Labels: ci

Add structured references and READMEs for documentation
  docs/README.md
Labels: type:docs

Delete index.html
  index.html
Labels: none

Refactor DVC commands for clarity and logging
  dvc.lock
Labels: none

Refactor docker-compose.yaml for clarity and updates
  docker-compose.yaml
Labels: none

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
