Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"

Create architecture_stack.mmd
  assets/architecture_stack.mmd
Labels: none

Update architecture_stack.mmd
  assets/architecture_stack.mmd
Labels: none

Update ARCHITECTURE.md
  assets/ARCHITECTURE.md
Labels: type:docs

Update ARCHITECTURE.md
  assets/ARCHITECTURE.md
Labels: type:docs

Update README.md
  assets/README.md
Labels: type:docs

Create KAGGLE_GUIDE.md
  assets/KAGGLE_GUIDE.md
Labels: type:docs

Create kaggle_infer_template.ipynb
  assets/kaggle_infer_template.ipynb
Labels: none

Update README.md
  assets/README.md
Labels: type:docs

Update README.md
  assets/README.md
Labels: type:docs

Update ARCHITECTURE.md
  assets/ARCHITECTURE.md
Labels: type:docs

Create COMPARISON_GUIDE.md
  assets/COMPARISON_GUIDE.md
Labels: type:docs

Update README.md
  assets/README.md
Labels: type:docs

Update ARCHITECTURE.md
  assets/ARCHITECTURE.md
Labels: type:docs

Update ARCHITECTURE.md
  assets/ARCHITECTURE.md
Labels: type:docs

Update report.html
  assets/report.html
Labels: none

Update diagnostics_dashboard.html
  assets/diagnostics_dashboard.html
Labels: none

Update report.html
  assets/report.html
Labels: none

Update <!DOCTYPE html>
  assets/<!DOCTYPE html>
Labels: none

Delete assets/<!DOCTYPE html>
  assets/<!DOCTYPE html>
Labels: none

Rename README.ms to README.md
  assets/diagrams/README.md
Labels: type:docs

Create AI_Design_and_Modeling.md
  assets/AI_Design_and_Modeling.md
Labels: type:docs

Create AI_Design_and_Modeling.html
  .github/workflows/AI_Design_and_Modeling.html
Labels: ci

Create AI_Design_and_Modeling.md
  .github/workflows/AI_Design_and_Modeling.md
Labels: ci, type:docs

Update Makefile
  Makefile
Labels: ci

Update makefile.ci
  makefile.ci
Labels: none

Update .dockerignore
  .dockerignore
Labels: none

Update .dvcignore
  .dvcignore
Labels: none

Update .gitignore
  .gitignore
Labels: none

Update .env.schema.json
  .env.schema.json
Labels: none

Update .gitattributes
  .gitattributes
Labels: none

Update .gitignore
  .gitignore
Labels: none

Update .mermaidrc.json
  .mermaidrc.json
Labels: none

Update .mermaidrc.json
  .mermaidrc.json
Labels: none

Update .mermaidrc.json
  .mermaidrc.json
Labels: none

Create .mermaidrc-dark.json
  .mermaidrc-dark.json
Labels: none

Update mermaid-export.yml
  .github/workflows/mermaid-export.yml
Labels: ci

Update mermaid-export.yml
  .github/workflows/mermaid-export.yml
Labels: ci

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Update .secrets.baseline
  .secrets.baseline
Labels: none

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: type:docs
