Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Create pr-title-lint.yml
  .github/workflows/pr-title-lint.yml
Labels: ci

Create stale.yml
  .github/workflows/stale.yml
Labels: ci

Create artifact-sweeper.yml
  .github/workflows/artifact-sweeper.yml
Labels: ci

Update README.md
  README.md
Labels: type:docs

Update README.md
  README.md
Labels: type:docs

Update README.md
  README.md
Labels: type:docs

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: type:docs

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: type:docs

Create sbom-refresh.yml
  .github/workflows/sbom-refresh.yml
Labels: ci

Create ci-dashboard.yml
  .github/workflows/ci-dashboard.yml
Labels: ci

Update ci-dashboard.yml
  .github/workflows/ci-dashboard.yml
Labels: ci

Update ci-dashboard.yml
  .github/workflows/ci-dashboard.yml
Labels: ci

Update sbom-refresh.yml
  .github/workflows/sbom-refresh.yml
Labels: ci

Create I_DASHBOARD.md
  docs/I_DASHBOARD.md
Labels: type:docs

Rename I_DASHBOARD.md to CI_DASHBOARD.md
  docs/CI_DASHBOARD.md
Labels: type:docs

Create dashboard.html
  outputs/diagnostics/dashboard.html
Labels: none

Create seed.json
  sbom/seed.json
Labels: none

Create INDEX.json
  sbom/INDEX.json
Labels: none

Update dashboard.html
  outputs/diagnostics/dashboard.html
Labels: none

Update dashboard.html
  outputs/diagnostics/dashboard.html
Labels: none

Update dashboard.html
  outputs/diagnostics/dashboard.html
Labels: none

Update dashboard.html
  outputs/diagnostics/dashboard.html
Labels: none

Create report.html
  outputs/diagnostics/report.html
Labels: none

Create config
  .dvc/config
Labels: none

Create config.local
  .dvc/config.local
Labels: none

Create plots.yaml
  .dvc/plots.yaml
Labels: none

Create params.yaml
  .dvc/params.yaml
Labels: none

Update .dvcignore
  .dvcignore
Labels: none

Update dvc.yaml
  dvc.yaml
Labels: none

Delete selftest.py
  selftest.py
Labels: lang:python

Update dvc.yaml
  dvc.yaml
Labels: none

Create comparison.md
  docs/comparison.md
Labels: type:docs

Create index.md
  docs/index.md
Labels: type:docs

Update index.md
  docs/index.md
Labels: type:docs

Create comparison_overview.png
  assets/comparison_overview.png
Labels: none

Update comparison_overview.png
  assets/comparison_overview.png
Labels: none

Update index.md
  docs/index.md
Labels: type:docs

Update comparison.md
  docs/comparison.md
Labels: type:docs

Update report.html
  outputs/diagnostics/report.html
Labels: none

Update spectramind.py
  spectramind.py
Labels: lang:python

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
