Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Update config_update.yml
  .github/ISSUE_TEMPLATE/config_update.yml
Labels: none

Update task_tracking.yml
  .github/ISSUE_TEMPLATE/task_tracking.yml
Labels: none

Update ARCHITECTURE.md
  .github/ISSUE_TEMPLATE/ARCHITECTURE.md
Labels: type:docs

Create README.md
  .github/README.md
Labels: type:docs

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type:docs

Create PULL_REQUEST_REVIEW_GUIDE.md
  .github/PULL_REQUEST_REVIEW_GUIDE.md
Labels: type:docs

Create REVIEW_CHECKLIST.md
  .github/REVIEW_CHECKLIST.md
Labels: type:docs

Create pr-review-checklist.yml
  .github/pr-review-checklist.yml
Labels: none

Create architecture.md
  .github/architecture.md
Labels: type:docs

Update task_tracking.yml
  .github/ISSUE_TEMPLATE/task_tracking.yml
Labels: none

Add files via upload
  assets/logos/spectramind_full_blacktext_1024.png
  assets/logos/spectramind_full_blacktext_128.png
  assets/logos/spectramind_full_blacktext_16.png
  assets/logos/spectramind_full_blacktext_32.png
  assets/logos/spectramind_full_blacktext_512.png
  assets/logos/spectramind_full_white_1024.png
  assets/logos/spectramind_full_white_128.png
  assets/logos/spectramind_full_white_16.png
  assets/logos/spectramind_full_white_32.png
  assets/logos/spectramind_full_white_512.png
  assets/logos/spectramind_full_whitetext_1024.png
  assets/logos/spectramind_full_whitetext_128.png
  assets/logos/spectramind_full_whitetext_16.png
  assets/logos/spectramind_full_whitetext_32.png
  assets/logos/spectramind_full_whitetext_512.png
  assets/logos/spectramind_mark_1024.png
  assets/logos/spectramind_mark_128.png
  assets/logos/spectramind_mark_16.png
  assets/logos/spectramind_mark_32.png
  assets/logos/spectramind_mark_512.png
  assets/logos/spectramind_mark_black.ico
  assets/logos/spectramind_mark_black_1024.png
  assets/logos/spectramind_mark_black_128.png
  assets/logos/spectramind_mark_black_16.png
  assets/logos/spectramind_mark_black_32.png
  assets/logos/spectramind_mark_black_512.png
  assets/logos/spectramind_mark_spectrum.ico
  assets/logos/spectramind_mark_white.ico
  assets/logos/spectramind_mark_white_1024.png
  assets/logos/spectramind_mark_white_128.png
  assets/logos/spectramind_mark_white_16.png
  assets/logos/spectramind_mark_white_32.png
  assets/logos/spectramind_mark_white_512.png
Labels: none

Add DVC stages for calibration, training, and prediction
  .dvc/dvc.yaml
Labels: none

Create .dvcignore to manage ignored files
  .dvc/..dvcignore
Labels: none

Add .dvcignore file
  .dvc/.dvcignore
Labels: none

Add README.md for .dvc directory documentation
  .dvc/README.md
Labels: type:docs

Add .gitignore for DVC internal controls
  .dvc/.gitgnore
Labels: none

Create .gitattributes for DVC and Git LFS management
  .dvc/.gitattributes
Labels: none

Add architecture documentation for .dvc directory
  .dvc/ARCHITECTURE.md
Labels: type:docs

Create SECURITY_ADVISORY_TEMPLATE.md for advisories
  .github/SECURITY_ADVISORY_TEMPLATE.md
Labels: type:docs

Revise security policy for SpectraMind V50
  .github/SECURITY.md
Labels: type:docs

Create security guidelines for vulnerability reporting
  .github/security@spectramind.dev
Labels: none

Revise security workflow for scheduling and tools
  .github/workflows/security.yml
Labels: ci

Refactor ablation workflow configuration
  .github/workflows/ablation.yaml
Labels: ci

Add self-test workflow for SpectraMind project
  .github/workflows/selftest.yml
Labels: ci

Enhance diagnostics workflow with new features
  .github/workflows/diagnostics.yml
Labels: ci

Refine submission workflow and validation logic
  .github/workflows/submission.yml
Labels: ci

Update plots.yaml
  .dvc/plots.yaml
Labels: none

Update plots.yaml
  .dvc/plots.yaml
Labels: none

Update params.yaml
  .dvc/params.yaml
Labels: none

Update config.yaml
  configs/config.yaml
Labels: none

Update dvc.yaml
  .dvc/dvc.yaml
Labels: none

Update config.local
  .dvc/config.local
Labels: none

Update config
  .dvc/config
Labels: none

Update .gitgnore
  .dvc/.gitgnore
Labels: none

Update .gitattributes
  .dvc/.gitattributes
Labels: none

Update .dvcignore
  .dvc/.dvcignore
Labels: none

Update README.md
  .dvc/README.md
Labels: type:docs

Update ARCHITECTURE.md
  .dvc/ARCHITECTURE.md
Labels: type:docs

Create ARCHITECTURE.md
  docs/ARCHITECTURE.md
Labels: type:docs

Update ARCHITECTURE.md
  docs/ARCHITECTURE.md
Labels: type:docs

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
