Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Refine language in ARCHITECTURE.md for clarity
  src/gui/components/ARCHITECTURE.md
Labels: type:docs

Refactor Tooltip component tests
  src/gui/components/tooltip.test.tsx
Labels: lang:js

Revise README for GUI components clarity and structure
  src/gui/components/README.md
Labels: type:docs

Revise ARCHITECTURE.md for clarity and detail
  src/gui/components/ARCHITECTURE.md
Labels: type:docs

Add component artifact map JSON schema
  src/gui/components/component_artifact_map.json
Labels: none

Revise component documentation and integration details
  src/gui/components/README.md
Labels: type:docs

Revise GUI Components Architecture documentation
  src/gui/components/ARCHITECTURE.md
Labels: type:docs

Fix Markdown table formatting in ARCHITECTURE.md
  src/gui/components/ARCHITECTURE.md
Labels: type:docs

Upgrade architecture documentation for GUI components
  src/gui/components/ARCHITECTURE.md
Labels: type:docs

Fix formatting in ARCHITECTURE.md for tabs
  src/gui/components/ARCHITECTURE.md
Labels: type:docs

Upgrade GUI architecture documentation
  src/gui/app/ARCHITECTUREmd
Labels: none

Revise ARCHITECTUREmd for clarity and updates
  src/gui/app/ARCHITECTUREmd
Labels: none

Refactor Mermaid diagrams in ARCHITECTURE.md
  src/gui/app/ARCHITECTURE.md
Labels: type:docs

Fix formatting in ARCHITECTURE.md for API paths
  src/gui/app/ARCHITECTURE.md
Labels: type:docs

Update print statement from 'Hello' to 'Goodbye'
  src/gui/app/reports.tsx
Labels: lang:js

Refactor layout component with accessibility improvements
  src/gui/app/layout.tsx
Labels: lang:js

Refactor GUI app entry point for performance and accessibility
  src/gui/app/index.tsx
Labels: lang:js

Update print statement from 'Hello' to 'Goodbye'
  src/gui/app/diagnostics.tsx
Labels: lang:js

Refactor DashboardPage for API and artifact handling
  src/gui/app/dashboard.tsx
Labels: lang:js

Upgrade GUI Architecture documentation with Mermaid
  src/gui/app/ARCHITECTURE.md
Labels: type:docs

Revise GUI Architecture documentation
  src/gui/app/ARCHITECTURE.md
Labels: type:docs

Revise README.md for improved clarity and structure
  src/gui/app/README.md
Labels: type:docs

Refactor README.md for better readability
  src/gui/app/README.md
Labels: type:docs

Refine README for GUI and diagram syntax
  src/gui/app/README.md
Labels: type:docs

Refactor README.md for clarity and consistency
  src/gui/app/README.md
Labels: type:docs

Fix mermaid syntax in routing overview diagram
  src/gui/app/README.md
Labels: type:docs

Fix README.md formatting and add Routing Overview
  src/gui/app/README.md
Labels: type:docs

Refine README.md with improved Mermaid syntax
  src/gui/app/README.md
Labels: type:docs

Add architecture documentation for diagnostics subsystem
  src/diagnostics/ARCHITECTURE.md
Labels: type:docs

Revise README for diagnostics layer
  src/diagnostics/README.md
Labels: type:docs

Add master diagnostics configuration file
  src/diagnostics/default.yaml
Labels: none

Add GLL configuration for diagnostics
  src/diagnostics/gll.yaml
Labels: none

Add FFT configuration for diagnostics analysis
  src/diagnostics/fft.yaml
Labels: none

Add symbolic.yaml for diagnostics configuration
  src/diagnostics/symbolic.yaml
Labels: none

Add calibration.yaml for uncertainty diagnostics
  src/diagnostics/calibration.yaml
Labels: none

Add explainability configuration for diagnostics
  src/diagnostics/explain.yaml
Labels: none

Create report.yaml for diagnostics reporting
  src/diagnostics/report.yaml
Labels: none

Add physics diagnostics configuration file
  src/diagnostics/physics.yaml
Labels: none

Update calibration.yaml with detailed diagnostics
  src/diagnostics/calibration.yaml
Labels: none

Update default.yaml for calibration diagnostics
  src/diagnostics/default.yaml
Labels: none

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
