Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Create ARCHITECTURE.md
  src/ARCHITECTURE.md
Labels: type:docs

Update README.md
  src/README.md
Labels: type:docs

Update ARCHITECTURE.md
  src/ARCHITECTURE.md
Labels: type:docs

Update README.md
  README.md
Labels: type:docs

Create README.md
  src/diagnostics/README.md
Labels: type:docs

Update README.md
  src/diagnostics/README.md
Labels: type:docs

Create README.md
  src/models/README.md
Labels: type:docs

Update ARCHITECTURE.md
  src/ARCHITECTURE.md
Labels: type:docs

Update README.md
  src/models/README.md
Labels: type:docs

Create selftest.py
  src/utils/selftest.py
Labels: lang:python

Update selftest.py
  src/utils/selftest.py
Labels: lang:python

Create symbolic_logic_engine.py
  src/symbolic/symbolic_logic_engine.py
Labels: lang:python

Add unit tests for symbolic logic engine
  tests/test_symbolic_logic_engine.py
Labels: lang:python, type:test

Add encoding and docstring to test_symbolic_logic_engine.py
  tests/test_symbolic_logic_engine.py
Labels: lang:python, type:test

Create __init__.py
  src/__init__.py
Labels: lang:python

Add __init__.py to mark symbolic as a package
  src/symbolic/__init__.py
Labels: lang:python

Create __init__.py in tests directory
  tests/tests/__init__.py
Labels: lang:python, type:test

Create conftest.py for pytest configuration
  tests/tests/conftest.py
Labels: lang:python, type:test

Create generate_fft_symbolic_fusion.py
  tools/generate_fft_symbolic_fusion.py
Labels: lang:python

Create cli_diagnose.py
  src/cli/cli_diagnose.py
Labels: area:cli, lang:python

Update cli_diagnose.py
  src/cli/cli_diagnose.py
Labels: area:cli, lang:python

Add newline at end of cli_diagnose.py
  src/cli/cli_diagnose.py
Labels: area:cli, lang:python

Add diagnostic summary generator for SpectraMind V50
  tools/generate_diagnostic_summary.py
Labels: lang:python

Create generate_html_report.py
  tools/generate_html_report.py
Labels: lang:python

Create plot_umap_v50.py
  tools/plot_umap_v50.py
Labels: lang:python

Create plot_tsne_interactive.py
  tools/plot_tsne_interactive.py
Labels: lang:python

Create plot_gll_heatmap_per_bin.py
  tools/plot_gll_heatmap_per_bin.py
Labels: lang:python

Add spectral smoothness map computation script
  tools/spectral_smoothness_map.py
Labels: lang:python

Create symbolic_violation_overlay.py
  tools/symbolic_violation_overlay.py
Labels: lang:python

Add submission validation script for NeurIPS 2025
  tools/validate_submission.py
Labels: lang:python

Create analyze_fft_autocorr_mu.py
  tools/analyze_fft_autocorr_mu.py
Labels: lang:python

Add spectral SHAP gradient visualizer script
  tools/spectral_shap_gradient.py
Labels: lang:python

Add lightcurve simulation script with CLI
  tools/simulate_lightcurve_from_mu.py
Labels: lang:python

Implement CLI simulator for lightcurve generation
  tools/config_grid_launcher.py
Labels: lang:python

Add auto_ablate_v50.py for symbolic-aware ablation
  tools/auto_ablate_v50.py
Labels: lang:python

Add GLL Error Localizer tool
  tools/gll_error_localizer.py
Labels: lang:python

Add UMAP Fusion Latents Plotter script
  tools/plot_umap_fusion_latents_v50.py
Labels: lang:python

Add FFT Power Cluster Compare script
  tools/plot_fft_power_cluster_compare.py
Labels: lang:python

Create shap_overlay.py
  tools/shap_overlay.py
Labels: lang:python

Add shap_attention_overlay.py for SHAP and attention analysis
  tools/shap_attention_overlay.py
Labels: lang:python

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
