Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Update .dockerignore
  .dockerignore
Labels: none

Create Dockerfile.prod
  Dockerfile.prod
Labels: none

Create calibration.json
  logs/calibration.json
Labels: none

Create calibration.json
  .github/workflows/calibration.json
Labels: ci

Create calibration-ci.yml
  .github/workflows/calibration-ci.yml
Labels: ci

Create logging_utils.py
  src/spectramind/logging_utils.py
Labels: lang:python

Create __init__.py
  src/spectramind/spectramind_ci/__init__.py
Labels: lang:python

Create calibrate.p
  src/spectramind/spectramind_ci/calibrate.p
Labels: none

Update calibration.json
  logs/calibration.json
Labels: none

Update Makefile
  Makefile
Labels: ci

Update makefile.ci
  makefile.ci
Labels: none

Create generate_lightcurve_preview.py
  tools/generate_lightcurve_preview.py
Labels: lang:python

Create generate_fft_alignment.py
  tools/generate_fft_alignment.py
Labels: lang:python

Update generate_fft_alignment.py
  tools/generate_fft_alignment.py
Labels: lang:python

Create generate_calibration_preview.py
  tools/generate_calibration_preview.py
Labels: lang:python

Create generate_coverage_heatmap.py
  tools/generate_coverage_heatmap.py
Labels: lang:python

Create generate_phase_alignment.py
  tools/generate_phase_alignment.py
Labels: lang:python

Create generate_fft_autocorr.py
  tools/generate_fft_autocorr.py
Labels: lang:python

Update generate_fft_autocorr.py
  tools/generate_fft_autocorr.py
Labels: lang:python

Update spectramind.py
  spectramind.py
Labels: lang:python

Create metrics.json
  outputs/model/metrics.json
Labels: none

Update spectramind.py
  spectramind.py
Labels: lang:python

Create train_v50.py
  src/train_v50.py
Labels: lang:python

Create predict_v50.py
  src/predict_v50.py
Labels: lang:python

Create symbolic_loss.py
  src/losses/symbolic_loss.py
Labels: lang:python

Create loaders.py
  src/data/loaders.py
Labels: lang:python

Create fgs1_mamba.py
  src/models/fgs1_mamba.py
Labels: lang:python

Create airs_gnn.py
  src/models/airs_gnn.py
Labels: lang:python

Create multi_scale_decoder.py
  src/models/multi_scale_decoder.py
Labels: lang:python

Create reproducibility.py
  src/utils/reproducibility.py
Labels: lang:python

Create logging.py
  src/utils/logging.py
Labels: lang:python

Create config_v50.yaml
  src/configs/config_v50.yaml
Labels: none

Create molecular_priors.py
  src/src/symbolic/molecular_priors.py
Labels: lang:python

Delete src/train_v50.py
  src/train_v50.py
Labels: lang:python

Create train_v50.py
  src/train_v50.py
Labels: lang:python

Update predict_v50.py
  src/predict_v50.py
Labels: lang:python

Create molecular_priors.py
  src/symbolic/molecular_priors.py
Labels: lang:python

Update molecular_priors.py
  src/symbolic/molecular_priors.py
Labels: lang:python

Delete src/src/symbolic directory
  src/src/symbolic/molecular_priors.py
Labels: lang:python

Create README.md
  src/README.md
Labels: type:docs

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
