Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Add neuro-symbolic SHAP overlay for model diagnostics
  tools/shap_symbolic_overlay.py
Labels: lang:python

Add SpectraMind V50 SHAP + Metadata Explainer
  tools/explain_sharp_metadata_v50.py
Labels: lang:python

Add symbolic influence map generator script
  tools/symbolic_influence_map.py
Labels: lang:python

Add symbolic rule table engine for SpectraMind V50
  tools/symbolic_rule_table.py
Labels: lang:python

Add spectral absorption overlay clustering tool
  tools/spectral_absorption_overlay_clustered.py
Labels: lang:python

Update fmt.Println message from 'Hello' to 'Goodbye'
  tools/spectral_smoothness_map.py
Labels: lang:python

Create generate_dummy_data.py
  tools/generate_dummy_data.py
Labels: lang:python

Add FFT power comparison tool for FGS1 and AIRS
  tools/fft_power_compare.py
Labels: lang:python

Add check_calibration.py for calibration checks
  tools/check_calibration.py
Labels: lang:python

Create README.md
  tools/README.md
Labels: type:docs

Revise tools directory README for clarity and updates
  tools/README.md
Labels: type:docs

Add architecture documentation for SpectraMind V50
  tools/ARCHITECTURE.md
Labels: type:docs

Update README.md
  tools/README.md
Labels: type:docs

Delete tests/tests directory
  tests/tests/__init__.py
  tests/tests/conftest.py
Labels: lang:python, type:test

Delete tests/.gitkeep
  tests/.gitkeep
Labels: type:test

Delete tests/pytest.ini
  tests/pytest.ini
Labels: type:test

Delete tests/selftest.py
  tests/selftest.py
Labels: lang:python, type:test

Delete tests/test_logging.py
  tests/test_logging.py
Labels: lang:python, type:test

Delete tests/test_selftest.py
  tests/test_selftest.py
Labels: lang:python, type:test

Delete tests/test_symbolic_logic_engine.py
  tests/test_symbolic_logic_engine.py
Labels: lang:python, type:test

Add unit and integration tests for FGS1Mamba encoder
  unit/test_fgs1_mamba.py
Labels: lang:python

Add unit and integration tests for AIRS GNN encoder
  unit/test_airs_gnn.py
Labels: lang:python

Implement unit tests for Multi-Scale Decoder
  unit/test_multi_scale_decoder.py
Labels: lang:python

Add unit tests for symbolic loss module
  unit/test_symbolic_loss.py
Labels: lang:python

Add test suite for molecular priors utilities
  unit/test_molecular_priors.py
Labels: lang:python

Enhance tests for logging utilities module
  unit/test_utils_logging.py
Labels: lang:python

Enhance reproducibility tests for utils module
  unit/test_utils_reproducibility.py
Labels: lang:python

Implement reproducibility tests for SpectraMind V50
  unit/test_config_loader.py
Labels: lang:python

Add training pipeline tests for CLI and configuration
  tests/integration/test_train_pipeline.py
Labels: lang:python, type:test

Add prediction pipeline tests for CLI and logging
  tests/integration/test_predict_pipeline.py
Labels: lang:python, type:test

Implement integration tests for calibration pipeline
  tests/integration/test_calibration_pipeline.py
Labels: lang:python, type:test

Add integration tests for self-test runner
  tests/integration/test_selftest_runner.py
Labels: lang:python, type:test

Create integration tests for CLI core commands
  tests/integration/test_cli_core.py
Labels: lang:python, type:test

Add unit and integration tests for AIRS GNN encoder
  tests/unit/test_airs_gnn.py
Labels: lang:python, type:test

Delete unit/test_airs_gnn.py
  unit/test_airs_gnn.py
Labels: lang:python

Implement reproducibility tests for SpectraMind V50
  tests/unit/test_config_loader.py
Labels: lang:python, type:test

Delete unit/test_config_loader.py
  unit/test_config_loader.py
Labels: lang:python

Add unit and integration tests for FGS1Mamba encoder
  tests/unit/test_fgs1_mamba.py
Labels: lang:python, type:test

Delete unit/test_fgs1_mamba.py
  unit/test_fgs1_mamba.py
Labels: lang:python

Add unit tests for molecular priors utilities
  tests/unit/test_molecular_priors.py
Labels: lang:python, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
