Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Create README.md
  tests/README.md
Labels: type:docs, type:test

Update ARCHITECTURE.md
  tests/ARCHITECTURE.md
Labels: type:docs, type:test

Update ARCHITECTURE.md
  tests/ARCHITECTURE.md
Labels: type:docs, type:test

Update conftest.py
  tests/conftest.py
Labels: lang:python, type:test

Create CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: type:docs

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

Create SECURITY.md
  .github/SECURITY.md
Labels: type:docs

Update ci.yaml
  .github/workflows/ci.yaml
Labels: ci

Update docs.yaml
  .github/workflows/docs.yaml
Labels: ci

Add hash-check workflow for integrity verification
  .github/workflows/hash-check.yml
Labels: ci

Refactor lint workflow with enhanced comments and matchers
  .github/workflows/lint.yaml
Labels: ci

Add submission pipeline for Kaggle competitions
  .github/workflows/submission.yml
Labels: ci

Create security.yml
  .github/workflows/security.yml
Labels: ci

Create bug report template for SpectraMind V50
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Create feature request issue template for SpectraMind V50
  .github/ISSUE_TEMPLATE/make the upgraded .github/issue_template/feature_request.yml
Labels: none

Delete .github/ISSUE_TEMPLATE/make the upgraded .github/issue_template directory
  .github/ISSUE_TEMPLATE/make the upgraded .github/issue_template/feature_request.yml
Labels: none

Add feature request template for SpectraMind V50
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

Create documentation request issue template
  .github/ISSUE_TEMPLATE/documentation.yml
Labels: none

Enhance Dependabot config for Python and Actions
  .github/dependabot.yaml
Labels: none

Add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Labels: ci

Add branch protection and auto-merge workflow
  .github/workflows/branch-protection.yml
Labels: ci

Add FUNDING.yml workflow for funding validation
  .github/workflows/FUNDING.yml
Labels: ci

Upgrade branch protection workflow with new inputs
  .github/workflows/branch-protection.yml
Labels: ci

Delete .github/workflows/FUNDING.yml
  .github/workflows/FUNDING.yml
Labels: ci

Delete .github/workflows/AI_Design_and_Modeling.md
  .github/workflows/AI_Design_and_Modeling.md
Labels: ci, type:docs

Delete .github/workflows/AI_Design_and_Modeling.html
  .github/workflows/AI_Design_and_Modeling.html
Labels: ci

Delete .github/workflows/calibration.json
  .github/workflows/calibration.json
Labels: ci

Add README for GitHub Actions workflows
  .github/workflows/README.md
Labels: ci, type:docs

Add architecture documentation for GitHub Actions
  .github/workflows/ARCHITECTURE.md
Labels: ci, type:docs

Add performance issue template for SpectraMind V50
  .github/ISSUE_TEMPLATE/performance_issue.yml
Labels: none

Add security report issue template for SpectraMind V50
  .github/ISSUE_TEMPLATE/security_report.yml
Labels: none

Create config update request issue template
  .github/ISSUE_TEMPLATE/config_update.yml
Labels: none

Create task tracking issue template for SpectraMind V50
  .github/ISSUE_TEMPLATE/task_tracking.yml
Labels: none

Create README for GitHub issue templates
  .github/ISSUE_TEMPLATE/README.md
Labels: type:docs

Add architecture documentation for issue templates
  .github/ISSUE_TEMPLATE/ARCHITECTURE.md
Labels: type:docs

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Update feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

Create documentation_request.yml
  .github/ISSUE_TEMPLATE/documentation_request.yml
Labels: none

Update performance_issue.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
Labels: none

Update security_report.yml
  .github/ISSUE_TEMPLATE/security_report.yml
Labels: none

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
