Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"

Create smoothness.yaml for spectral diagnostics
  src/diagnostics/smoothness.yaml
Labels: none

Enhance symbolic diagnostics configuration
  src/diagnostics/symbolic.yaml
Labels: none

Revise diagnostics report configuration
  src/diagnostics/report.yaml
Labels: none

Enhance physics.yaml with new diagnostics and overlays
  src/diagnostics/physics.yaml
Labels: none

Enhance GLL evaluator configuration in gll.yaml
  src/diagnostics/gll.yaml
Labels: none

Refactor FFT.yaml to GLL.yaml configuration
  src/diagnostics/fft.yaml
Labels: none

Update explain.yaml with new configuration options
  src/diagnostics/explain.yaml
Labels: none

Revise calibration options and output formats
  src/diagnostics/default.yaml
Labels: none

Enhance calibration.yaml with new features and clarity
  src/diagnostics/calibration.yaml
Labels: none

Refine README.md for diagnostics layer
  src/diagnostics/README.md
Labels: type:docs

Update architecture documentation for diagnostics
  src/diagnostics/ARCHITECTURE.md
Labels: type:docs

Update smoothness.yaml with new configurations
  src/diagnostics/smoothness.yaml
Labels: none

Add diagnostic summary generator module
  src/diagnostics/denerate/diagnostic/summary.py
Labels: lang:python

Delete src/diagnostics/denerate/diagnostic directory
  src/diagnostics/denerate/diagnostic/summary.py
Labels: lang:python

Add diagnostic summary generator for SpectraMind V50
  src/diagnostics/generate/diagnostic/summary.py
Labels: lang:python

Add HTML report generator for diagnostics artifacts
  src/diagnostics/generate/html/report.py
Labels: lang:python

Add UMAP plotting module for SpectraMind V50
  src/diagnostics/plot/umap/v50.py
Labels: lang:python

Add interactive t-SNE latent plotter script
  src/diagnostics/plot/tsne/interactive.py
Labels: lang:python

Update print statement from 'Hello' to 'Goodbye'
  src/diagnostics/analyze/fft/autocorr/mu.py
Labels: lang:python

Add spectral smoothness diagnostics module
  src/diagnostics/spectral/smoothness/map.py
Labels: lang:python

Add SHAP overlay generator for μ spectra
  src/diagnostics/shap/overlay.py
Labels: lang:python

Add SHAP × Attention overlay generator
  src/diagnostics/shap/attention/overlay.py
Labels: lang:python

Add SHAP × Symbolic overlay generator
  src/diagnostics/shap/symbolic/overlay.py
Labels: lang:python

Enhance symbolic diagnostics configuration
  src/diagnostics/symbolic.yaml
Labels: none

Refactor smoothness.yaml for improved clarity
  src/diagnostics/smoothness.yaml
Labels: none

Refactor diagnostics report.yaml for clarity
  src/diagnostics/report.yaml
Labels: none

Enhance physics diagnostics overlays configuration
  src/diagnostics/physics.yaml
Labels: none

Refactor GLL configuration in gll.yaml
  src/diagnostics/gll.yaml
Labels: none

Enhance FFT.yaml with new parameters and documentation
  src/diagnostics/fft.yaml
Labels: none

Refactor explain.yaml for clarity and organization
  src/diagnostics/explain.yaml
Labels: none

Refactor YAML configuration for diagnostics
  src/diagnostics/default.yaml
Labels: none

Refactor calibration.yaml for better readability
  src/diagnostics/calibration.yaml
Labels: none

Refactor UMAP plotting code for clarity and robustness
  src/diagnostics/plot/umap/v50.py
Labels: lang:python

Improve code readability and file handling
  src/diagnostics/plot/tsne/interactive.py
Labels: lang:python

Add README for t-SNE Latent Plotter module
  src/diagnostics/plot/tsne/README.md
Labels: type:docs

Correct 'sklearn' to 'scikit-learn' in README
  src/diagnostics/plot/tsne/README.md
Labels: type:docs

Enhance README with workflow diagram and output details
  src/diagnostics/plot/tsne/README.md
Labels: type:docs

Add workflow diagram to tsne README
  src/diagnostics/plot/tsne/README.md
Labels: type:docs

Remove duplicate workflow diagram section
  src/diagnostics/plot/tsne/README.md
Labels: type:docs

Refactor workflow diagram for consistency
  src/diagnostics/plot/tsne/README.md
Labels: type:docs
