Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"

Update version_tools.py
  bin/version_tools.py
Labels: lang:python

Update sync-lock.sh
  bin/sync-lock.sh
Labels: none

Update spectramind.py
  bin/spectramind.py
Labels: lang:python

Update selftest.sh
  bin/selftest.sh
Labels: none

Update push.sh
  bin/push.sh
Labels: none

Update kaggle-submit.sh
  bin/kaggle-submit.sh
Labels: none

Update kaggle-boot.sh
  bin/kaggle-boot.sh
Labels: none

Update export-reqs.sh
  bin/export-reqs.sh
Labels: none

Update dvc-push.sh
  bin/dvc-push.sh
Labels: none

Update dvc-pull.sh
  bin/dvc-pull.sh
Labels: none

Update diagrams.sh
  bin/diagrams.sh
Labels: none

Enhance DVC plots registry for Mermaid diagram rendering
  .dvc/plots.yaml
Labels: none

Enhance diagnose script with JSON output and updates
  bin/diagnose.sh
Labels: none

Enhance ci-smoke.sh with logging and JSON output
  bin/ci-smoke.sh
Labels: none

Refactor bump-version.sh for better usability
  bin/bump-version.sh
Labels: none

Enhance analyze-log script with new features
  bin/analyze-log.sh
Labels: none

Add .gitkeep to version the bin directory
  bin/.gitkeep
Labels: none

Create README.md for bin/ directory documentation
  bin/README.md
Labels: type:docs

Refactor Makefile for clarity and new features
  Makefile
Labels: ci

Add repair_and_push.sh script for Git and DVC
  bin/repair_and_push.sh
Labels: none

Add make-submission.sh for Kaggle submission pipeline
  bin/make-submission.sh
Labels: none

Enhance make-submission.sh with new features
  bin/make-submission.sh
Labels: none

Upgrade repair_and_push.sh with new features and logging
  bin/repair_and_push.sh
Labels: none

Add ARCHITECTURE.md for bin/ directory
  bin/ARCHITECTURE.md
Labels: type:docs

Add benchmark.sh for standardized benchmarking
  bin/benchmark.sh
Labels: none

Add diagnostics script for running diagnostics
  bin/diagnostics.sh
Labels: none

Add benchmark-bin and diagnostics-bin targets
  Makefile
Labels: ci

Revise bin/README.md for improved clarity and detail
  bin/README.md
Labels: type:docs

Refine language and improve clarity in ARCHITECTURE.md
  bin/ARCHITECTURE.md
Labels: type:docs

Refactor make-submission.sh for clarity and defaults
  bin/make-submission.sh
Labels: none

Update analyze-log.sh
  bin/analyze-log.sh
Labels: none

Update selftest.sh
  bin/selftest.sh
Labels: none

Update diagrams.sh
  bin/diagrams.sh
Labels: none

Update ci-smoke.sh
  bin/ci-smoke.sh
Labels: none

Create README.md
  configs/README.md
Labels: type:docs

Update README.md
  configs/README.md
Labels: type:docs

Create nominal.yaml
  configs/data/nominal.yaml
Labels: none

Add ablation configuration for SpectraMind V50
  configs/ablate.yaml
Labels: none

Revise ablation.yaml for sweep configuration and optimizers
  configs/ablate.yaml
Labels: none

Create predict.yaml for inference settings
  configs/predict.yaml
Labels: none
