Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"

Revise best version notes for SpectraMind V50
  best_version.md
Labels: type:docs

Update fmt.Println message from 'Hello' to 'Goodbye'
  Makefile
Labels: ci

Revise SECURITY.md with comprehensive security policy
  SECURITY.md
Labels: type:docs

Update .mermaidrc-dark.json configuration
  .mermaidrc-dark.json
Labels: none

Revise .gitattributes for better file handling
  .gitattributes
Labels: none

Update fmt.Println message from 'Hello' to 'Goodbye'
  .env.schema.json
Labels: none

Update .env.schema.json
  .env.schema.json
Labels: none

Update print statement from 'Hello' to 'Goodbye'
  .env.schema.json
Labels: none

Update example environment file with new settings
  .env.example
Labels: none

Update .editorconfig for various file types
  .editorconfig
Labels: none

Add .editorconfig.test.yml for CI enforcement
  .editorconfig.test.yml
Labels: none

Refactor .dvcignore for clarity and organization
  .dvcignore
Labels: none

Refactor .dockerignore for clarity and organization
  .dockerignore
Labels: none

Enhance Docker setup for GPU/CPU builds
  Makefile
Labels: ci

Refactor Makefile for improved readability
  Makefile
Labels: ci

Revise DVC ignore rules for better clarity
  .dvc/.dvcignore
Labels: none

Upgrade Git attributes for DVC integration
  .dvc/.gitattributes
Labels: none

Revise DVC Git ignore rules and comments
  .dvc/.gitgnore
Labels: none

Revise DVC README for clarity and troubleshooting
  .dvc/README.md
Labels: type:docs

Refactor DVC Git ignore rules for clarity
  .dvc/.gitgnore
Labels: none

Add DVC structure and commit policy documentation
  docs/diagrams/dvc-structure.md
Labels: type:docs

Revise DVC Structure documentation
  docs/diagrams/dvc-structure.md
Labels: type:docs

Update ignored files descriptions in DVC structure
  docs/diagrams/dvc-structure.md
Labels: type:docs

Update DVC structure diagram with improved formatting
  docs/diagrams/dvc-structure.md
Labels: type:docs

Refactor DVC plots.yaml for improved diagram rendering
  .dvc/plots.yaml
Labels: none

Upgrade parameter tracking in params.yaml
  .dvc/params.yaml
Labels: none

Upgrade DVC pipeline description and notes
  .dvc/dvc.yaml
Labels: none

Refine DVC local config with improved comments
  .dvc/config.local
Labels: none

Enhance DVC config with additional settings and comments
  .dvc/config
Labels: none

Revise DVC architecture documentation for clarity
  .dvc/ARCHITECTURE.md
Labels: type:docs

Add line chart template for DVC plots
  .dvc/plots/templates/line.json
Labels: none

Add dark-themed line chart template for DVC plots
  .dvc/plots/templates/line_dark.json
Labels: none

Create scatter_guide.json for scatter plot template
  .dvc/plots/templates/scatter_guide.json
Labels: none

Add histogram template for DVC plots
  .dvc/plots/templates/hist.json
Labels: none

Add heatmap template for DVC plots
  .dvc/plots/templates/heatmap.json
Labels: none

Add dark-themed heatmap template for DVC plots
  .dvc/plots/templates/heatmap_dark.json
Labels: none

Create README.md
  .dvc/plots/templates/README.md
Labels: type:docs

Add FFT and Autocorrelation Analyzer for μ spectra
  src/diagnostics/analyze_fft_autocorr_mu.py
Labels: lang:python

Delete tools/analyze_fft_autocorr_mu.py
  tools/analyze_fft_autocorr_mu.py
Labels: lang:python

Change greeting from 'Hello World' to 'Goodbye World'
  src/diagnostics/auto_ablate_v50.py
Labels: lang:python
