Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Refine comments in ablation.yaml for clarity
  .github/workflows/ablation.yaml
Labels: ci

Update artifact sweeper workflow for clarity and safety
  .github/workflows/artifact-sweeper.yml
Labels: ci

Refine Bandit workflow comments and features
  .github/workflows/bandit.yml
Labels: ci

Refactor benchmark workflow for clarity and device handling
  .github/workflows/benchmark.yaml
Labels: ci

Remove YAML code block from benchmark.yaml
  .github/workflows/benchmark.yaml
Labels: ci

Enhance branch protection workflow configuration
  .github/workflows/branch-protection.yml
Labels: ci

Refactor calibration CI workflow for clarity and efficiency
  .github/workflows/calibration-ci.yml
Labels: ci

Enhance CI dashboard with new workflows and details
  .github/workflows/ci-dashboard.yml
Labels: ci

Refactor CI workflow permissions and cron comments
  .github/workflows/ci.yml
Labels: ci

Refine CodeQL workflow with better documentation
  .github/workflows/codeql.yml
Labels: ci

Enhance ablation workflow with logging and caching improvements
  .github/workflows/ablation.yaml
Labels: ci

Clean up CI YAML formatting
  .github/workflows/ci.yml
Labels: ci

Refactor Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Labels: ci

Enhance diagnostics workflow for CI safety
  .github/workflows/diagnostics.yml
Labels: ci

Enhance Mermaid diagram rendering workflow
  .github/workflows/diagrams.yml
Labels: ci

Refine Trivy workflow configuration and comments
  .github/workflows/docker-trivy.yml
Labels: ci

Fix YAML file extension from .yaml to .yml
  .github/workflows/docs.yaml
Labels: ci

Refactor hadolint workflow for improved clarity
  .github/workflows/hadolint.yml
Labels: ci

Refactor hash-check workflow for improved clarity
  .github/workflows/hash-check.yml
Labels: ci

Refactor Kaggle submission workflow for clarity
  .github/workflows/kaggle-submit.yml
Labels: ci

Enhance PR Auto Labeler with new features and structure
  .github/workflows/labeler.yml
Labels: ci

Enhance lint workflow with SARIF support
  .github/workflows/lint.yaml
Labels: ci

Update mermaid-export.yml
  .github/workflows/mermaid-export.yml
Labels: ci

Enhance nightly E2E workflow with new features
  .github/workflows/nightly-e2e.yml
Labels: ci

Enhance GitHub Pages deployment workflow
  .github/workflows/pages.yml
Labels: ci

Refactor pip-audit workflow for clarity and updates
  .github/workflows/pip-audit.yml
Labels: ci

Enhance PR title linting with hygiene checks
  .github/workflows/pr-title-lint.yml
Labels: ci

Refactor release workflow for improved tagging and jobs
  .github/workflows/release.yaml
Labels: ci

Refactor SBOM refresh workflow for security and updates
  .github/workflows/sbom-refresh.yml
Labels: ci

Update security.yml
  .github/workflows/security.yml
Labels: ci

Update selftest.yml
  .github/workflows/selftest.yml
Labels: ci

Upgrade stale.yml workflow with enhancements
  .github/workflows/stale.yml
Labels: ci

Enhance submission workflow with better checks
  .github/workflows/submission.yml
Labels: ci

Refactor SVG optimization workflow for PRs and pushes
  .github/workflows/svg-optimize.yml
Labels: ci

Refactor CI workflow for improved testing and caching
  .github/workflows/tests.yaml
Labels: ci

Update report.html
  assets/report.html
Labels: none

Revise Kaggle inference notebook for clarity and updates
  assets/kaggle_infer_template.ipynb
Labels: none

Change double quotes to single quotes in commands
  assets/kaggle_infer_template.ipynb
Labels: none

Add files via upload
  assets/kaggle_infer_template.ipynb
Labels: none

Revise architecture document for issue templates
  .github/ISSUE_TEMPLATE/ARCHITECTURE.md
Labels: type:docs

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
