Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"

Update spectramind.py
  spectramind.py
Labels: lang:python

Update requirements.txt
  requirements.txt
Labels: deps

Create requirements-min.txt
  requirements-min.txt
Labels: deps

Update requirements-min.txt
  requirements-min.txt
Labels: deps

Update Makefile
  Makefile
Labels: ci

Update requirements-kaggle.txt
  requirements-kaggle.txt
Labels: deps

Update requirements-kaggle.txt
  requirements-kaggle.txt
Labels: deps

Update pyproject.toml
  pyproject.toml
Labels: deps

Update pyproject.toml
  pyproject.toml
Labels: deps

Create spectramind.py
  bin/spectramind.py
Labels: lang:python

Create selftest.sh
  bin/selftest.sh
Labels: none

Create analyze-log.sh
  bin/analyze-log.sh
Labels: none

Create diagnose.sh
  bin/diagnose.sh
Labels: none

Update push.sh
  bin/push.sh
Labels: none

Update version_tools.py
  bin/version_tools.py
Labels: lang:python

Create bump-version.sh
  bin/bump-version.sh
Labels: none

Create export-reqs.sh
  bin/export-reqs.sh
Labels: none

Create ci-smoke.sh
  bin/ci-smoke.sh
Labels: none

Create dvc-pull.sh
  bin/dvc-pull.sh
Labels: none

Create dvc-push.sh
  bin/dvc-push.sh
Labels: none

Create sync-lock.sh
  bin/sync-lock.sh
Labels: none

Create kaggle-boot.sh
  bin/kaggle-boot.sh
Labels: none

Create kaggle-submit.sh
  bin/kaggle-submit.sh
Labels: none

Create diagrams.sh
  bin/diagrams.sh
Labels: none

chore(issues): add SpectraMind V50 issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/ci_failure.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/config_request.md
  .github/ISSUE_TEMPLATE/diagnostics.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/experiment.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
Labels: type:docs

Update README.md
  assets/README.md
Labels: type:docs

Create ARCHITECTURE.md
  assets/ARCHITECTURE.md
Labels: type:docs

Create diagnostics_dashboard.html
  assets/diagnostics_dashboard.html
Labels: none

Create report.html
  assets/report.html
Labels: none

Create README.ms
  assets/diagrams/README.ms
Labels: none

Update README.ms
  assets/diagrams/README.ms
Labels: none

Update README.ms
  assets/diagrams/README.ms
Labels: none

Create pipeline_overview.mmd
  assets/diagrams/pipeline_overview.mmd
Labels: none

Update README.ms
  assets/diagrams/README.ms
Labels: none

Create architecture_stack.mmd
  assets/diagrams/architecture_stack.mmd
Labels: none

Create test_diagrams.py
  assets/diagrams/test_diagrams.py
Labels: lang:python

Create symbolic_logic_layers.mmd
  assets/diagrams/symbolic_logic_layers.mmd
Labels: none

Update README.ms
  assets/diagrams/README.ms
Labels: none

Update ARCHITECTURE.md
  assets/ARCHITECTURE.md
Labels: type:docs

Update ARCHITECTURE.md
  assets/ARCHITECTURE.md
Labels: type:docs
