Repository bartytime4life/ArielSensorArray, changes with the labels that .github/labeler.yml gives for each.
All labels: area:cli, area:data, area:modeling, area:physics, lang:python, lang:js, ci, deps, type:docs, type:test

Create test_neural_logic_graph.py
  tests/diagnostics/test_neural_logic_graph.py
Labels: lang:python, type:test

Create test_validate_submission.py
  tests/diagnostics/test_validate_submission.py
Labels: lang:python, type:test

Create test_submission_validator.py
  tests/diagnostics/test_submission_validator.py
Labels: lang:python, type:test

Create test_cli_submit.py
  tests/integration/test_cli_submit.py
Labels: lang:python, type:test

Create test_cli_diagnose_dashboard.py
  tests/integration/test_cli_diagnose_dashboard.py
Labels: lang:python, type:test

Create test_cli_analyze_log.py
  tests/integration/test_cli_analyze_log.py
Labels: lang:python, type:test

Create test_selftest_modes.py
  tests/integration/test_selftest_modes.py
Labels: lang:python, type:test

Create test_generate_html_report_snapshots.pu
  tests/regression/test_generate_html_report_snapshots.pu
Labels: type:test

Create test_dashboard_artifacts_matrix.pu
  tests/regression/test_dashboard_artifacts_matrix.pu
Labels: type:test

Create test_config_command_map.py
  tests/regression/test_config_command_map.py
Labels: lang:python, type:test

Create test_cli_map_integrity.py
  tests/regression/test_cli_map_integrity.py
Labels: lang:python, type:test

Create test_report_manifest_integrity.py
  tests/artifacts/test_report_manifest_integrity.py
Labels: lang:python, type:test

Create ttest_run_hash_summary_contents.py
  tests/artifacts/ttest_run_hash_summary_contents.py
Labels: lang:python, type:test

Create test_cli_version_stamp.py
  tests/artifacts/test_cli_version_stamp.py
Labels: lang:python, type:test

Rename test_generate_html_report_snapshots.pu to test_generate_html_report_snapshots.py
  tests/regression/test_generate_html_report_snapshots.py
Labels: lang:python, type:test

Rename test_dashboard_artifacts_matrix.pu to .py
  tests/regression/test_dashboard_artifacts_matrix.py
Labels: lang:python, type:test

Update 00_quickstart.ipynb
  notebooks/00_quickstart.ipynb
Labels: none

Create bootstrap_notebooks.sh
  notebooks/bootstrap_notebooks.sh
Labels: none

Create 01_data_exploration.ipynb
  notebooks/01_data_exploration.ipynb
Labels: none

Update 01_pipeline_calibrate_train_predict.ipynb
  notebooks/01_pipeline_calibrate_train_predict.ipynb
Labels: none

Create 02_calibration_walkthrough.ipynb
  notebooks/02_calibration_walkthrough.ipynb
Labels: none

Update 02_diagnostics_explainability.ipynb
  notebooks/02_diagnostics_explainability.ipynb
Labels: none

Create 03_train_v50_demo.ipynb
  notebooks/03_train_v50_demo.ipynb
Labels: none

Create 04_predict_v50_demo.ipynb
  notebooks/04_predict_v50_demo.ipynb
Labels: none

Create 05_diagnostics_suite.ipynb
  notebooks/05_diagnostics_suite.ipynb
Labels: none

Create 06_symbolic_overlays.ipynb
  notebooks/06_symbolic_overlays.ipynb
Labels: none

Create 07_shap_explainability.ipynb
  notebooks/07_shap_explainability.ipynb
Labels: none

Create 08_fft_autocorr_analysis.ipynb
  notebooks/08_fft_autocorr_analysis.ipynb
Labels: none

Create 09_ablation_study.ipynb
  notebooks/09_ablation_study.ipynb
Labels: none

Create 10_kaggle_submission_pipeline.ipynb
  notebooks/10_kaggle_submission_pipeline.ipynb
Labels: none

Create 11_corel_calibration_demo.ipynb
  notebooks/11_corel_calibration_demo.ipynb
Labels: none

Create 12_benchmark_models_comparison.ipynb
  notebooks/12_benchmark_models_comparison.ipynb
Labels: none

Create 13_gui_dashboard_demo.ipynb
  notebooks/13_gui_dashboard_demo.ipynb
Labels: none

Create 14_radiation_and_noise_modeling.ipynb
  notebooks/14_radiation_and_noise_modeling.ipynb
Labels: none

Create 15_gravitational_lensing_demo.ipynb
  notebooks/15_gravitational_lensing_demo.ipynb
Labels: none

Update README.md
  notebooks/README.md
Labels: type:docs

Create ARCHITECTURE.md
  notebooks/ARCHITECTURE.md
Labels: type:docs

Delete notebooks/02_diagnostics_explainability.ipynb
  notebooks/02_diagnostics_explainability.ipynb
Labels: none

Delete notebooks/01_pipeline_calibrate_train_predict.ipynb
  notebooks/01_pipeline_calibrate_train_predict.ipynb
Labels: none

Update print statement from 'Hello' to 'Goodbye'
  tools/explain_shap_metadata_v50.py
Labels: lang:python

.github/labeler.yml:

# Path-based label rules for actions/labeler@v5

# Core code areas
area:cli:
  - "src/cli/**"
  - "spectramind/**"
area:data:
  - "data/**"
  - "datasets/**"
area:modeling:
  - "src/model/**"
  - "src/pipelines/**"
  - "src/features/**"
area:physics:
  - "docs/physics/**"
  - "references/**"

# Languages / stacks
lang:python:
  - "**/*.py"
lang:js:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.tsx"

# Tooling / CI
ci:
  - ".github/workflows/**"
  - "Makefile"
  - "Dockerfile"
deps:
  - "pyproject.toml"
  - "poetry.lock"
  - "package.json"
  - "package-lock.json"
  - "requirements*.txt"

# Docs & tests
type:docs:
  - "README.md"
  - "docs/**"
  - "**/*.md"
type:test:
  - "tests/**"
